# Python
venv/
__pycache__/
*.py[cod]

# Django
*.sqlite3
*.log
*.pot
*.pyc

# Environment files
.env
.env.*

# VSCode or PyCharm
.vscode/
.idea/

# Docker
db_data/

static/assets/video/background.mp4
static/assets/video/background2.mp4

