{% extends "complaints/main/dialog.html" %}
{% load static %}
{% load widget_tweaks %}

{% block dialog-content %}
<div class="modal-content border shadow">
    <small>
        <div class="modal-header border shadow">
            <h3 class="modal-title">Add Remark</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form method="post" enctype="multipart/form-data" class="signup-form" action="{% url 'complaints:add_remark' complaint.pk %}">
            <div class="modal-body content-section border shadow">
                {% csrf_token %}

                <div class="form-group my-1">
                    {{ form.complaint.label_tag }} {{ form.complaint|add_class:"form-control" }}
                    {% if form.complaint.errors %}
                        <div class="alert alert-danger">{{ form.complaint.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group my-1">
                    {{ form.content.label_tag }} {{ form.content|add_class:"form-control" }}
                    {% if form.content.errors %}
                        <div class="alert alert-danger">{{ form.content.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group my-3">
                    <label>Attachments</label>
                    {{ attachment_formset.management_form }}
                    {% for form in attachment_formset %}
                        <div class="form-group my-2">
                            {{ form.file|add_class:"form-control" }}
                            {% if form.file.errors %}
                                <div class="alert alert-danger">{{ form.file.errors }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>

                <div class="form-group my-1">
                    {{ form.remark_targeted_department.label_tag }}
                    {{ form.remark_targeted_department|add_class:"form-control" }}
                    {% if form.remark_targeted_department.errors %}
                        <div class="alert alert-danger">{{ form.remark_targeted_department.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group my-1">
                    {{ form.remark_targeted_personnel.label_tag }}
                    {{ form.remark_targeted_personnel|add_class:"form-control" }}
                    {% if form.remark_targeted_personnel.errors %}
                        <div class="alert alert-danger">{{ form.remark_targeted_personnel.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group my-1">
                    {{ form.status.label_tag }} {{ form.status|add_class:"form-control" }}
                    {% if form.status.errors %}
                        <div class="alert alert-danger">{{ form.status.errors }}</div>
                    {% endif %}
                </div>
            </div>

            <div class="modal-footer py-3">
                <div class="form-group d-flex justify-content-end mb-3">
                    <abbr title="submit">
                        <button type="submit" class="btn btn-primary" style="background-color: #e32249 !important; border: solid #e32249 !important;">
                            <span class="fa fa-check"></span>
                        </button>
                    </abbr>
                </div>
                <div class="form-group d-flex justify-content-end mb-3">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: #e32249 !important; border: solid #e32249 !important;">
                        <span class="fa fa-remove"></span> <abbr class="font-weight-bold">Close</abbr>
                    </button>
                </div>
            </div>
        </form>
    </small>
</div>
{% endblock dialog-content %}
