{% extends "complaints/main/base.html" %} 
{% load static %} {% load custom_tag %}
  
{% block content %}

{% for group in request.user.groups.all %} 
  {% if request.user.is_superuser or request.user|has_group:"CEO" %}


<section>
  <div class="container-fluid p-3">
    <section class="border p-4 mb-4 d-flex flex-column shadow">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <div class="col-md-4 d-flex">
            <button class="btn rounded text-white bg-secondary btn-sm shadow-sm" >
              <a
                href="{% url 'complaints:user_complaints_display' %}"
                class="nav-link"
                >MY COMPLAINTS</a
              >
            </button>
          </div>
          <form method="get" class="form-inline my-2 my-lg-0">
            <div class="input-group">
              {{ user_search_form.search_query }}
              <div class="input-group-append">
                <button id="search-button" type="submit" class="btn rounded btn-outline-secondary">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </nav>
    </section>

    <div class="row">
      <div class="list-group border container col-8 shadow p-3">
        <a href="#" class="list-group-item bg-secondary mb-2 border-secondary rounded shadow list-group-item-action active">
          List All of Complaints in the Company
        </a>
        <table class="table table-hover" style="cursor: pointer;">
          <thead>
            <tr>
              <th scope="col">TITLE</th>
              <th scope="col">COMPLAINANT</th>
              <th scope="col">TARGETED PETSONNEL</th>
              <th scope="col">TARGETED DEPARTMENT</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% if complaints %}
              {% for complaint in complaints %}
                <tr>
                  <td>{{ complaint.title|upper }}</td>
                  <td>{{ complaint.complainant|capfirst }}</td>
                  <td>{{ complaint.targeted_personnel|capfirst }}</td>
                  <td>{{ complaint.targeted_department|capfirst }}</td>
                  <td>
                    <a title="view details" href="{% url 'complaints:complaint_details' complaint.pk %}">
                      <i class="fa fa-eye" style="color: #6c757d;" aria-hidden="true"></i>
                    </a>
                  </td>
                </tr>
              {% endfor %}
            {% else %}
              <tr>
                <td colspan="5" class="text-center text-info">
                  There is no complaint to display!
                </td>
              </tr>
            {% endif %}
          </tbody>

        </table>
      </div>
      <div class="container col-3 p-3">
        <section class="border p-4 mb-4 d-flex flex-column shadow">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <h3 class="text-dark text-center">User With Most Complaints</h3>
            </div>
          </nav>
          <hr>
          <table class="table table-hover">
            <tbody>
              <tr class="text-center">

            {% if user_with_most_complaints %}
              <th style="cursor: pointer;">
                <a class="list-unstyled nav-link text-secondary" 
                  hx-get="{% url 'complaints:staff_user_profile' user_with_most_complaints.pk %}" 
                  hx-target="#dialog" 
                  title="View Profile">
                  
                  {% if user_with_most_complaints.profile_picture %}
                    <img src="{{ user_with_most_complaints.profile_picture.url }}"
                        class="rounded-circle account-img"
                        style="height: 80px; width: 80px; list-style: none !important; color: #6c757d !important;"
                        alt="{{ user_with_most_complaints.username }}'s Profile Image">
                  {% endif %}
                  
                  <p class="font-weight-bold list-unstyled" 
                    style="font-size:x-large; color: #6c757d !important;">
                    {{ user_with_most_complaints.username|upper }}
                  </p>
                </a>
              </th>
            {% else %}
              <th>No user found.</th>
            {% endif %}

              </tr>
            </tbody>
          </table>
        </section>
      </div>
    </div>
  </div>
</section>

  {% elif group.name == 'HOD'  %}


<section>
    <div class="container p-3">
      <section class="border p-4 mb-4 d-flex flex-column shadow">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <div class="col-md-4 d-flex">
              <button class="btn rounded text-white bg-secondary btn-sm shadow-sm" >
                <a
                  href="{% url 'complaints:user_complaints_display' %}"
                  class="nav-link p-3"
                  >MY COMPLAINTS</a
                >
              </button>
            </div>
            <form method="get" class="form-inline my-2 my-lg-0">
              <div class="input-group">
                {{ user_search_form.search_query }}
                <div class="input-group-append">
                  <button id="search-button" type="submit" class="btn rounded btn-outline-secondary">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </nav>
      </section>

      <div class="list-group border shadow p-3">
        <a href="#" class="list-group-item bg-secondary mb-2 border-secondary rounded shadow list-group-item-action active">
          List of Complaints
        </a>
        <table class="table table-hover" style="cursor: pointer;">
          <thead>
            <tr>
              <th scope="col">TILE</th>
              <th scope="col">COMPLAINANT</th>
              <th scope="col">TARGETED PETSONNEL</th>
              <th scope="col">TARGETED DEPARTMENT</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% if complaints %}
              {% for complaint in complaints %}
                <tr>
                  <td>{{ complaint.title|upper }}</td>
                  <td>{{ complaint.complainant|capfirst }}</td>
                  <td>{{ complaint.targeted_personnel|capfirst }}</td>
                  <td>{{ complaint.targeted_department|capfirst }}</td>
                  <td>
                    <a title="view details" href="{% url 'complaints:complaint_details' complaint.pk %}">
                      <i class="fa fa-eye" style="color: #6c757d;" aria-hidden="true"></i>
                    </a>
                  </td>
                </tr>
              {% endfor %}
            {% else %}
              <tr>
                <td colspan="5" class="text-center text-info">
                  There is no complaint to display!
                </td>
              </tr>
            {% endif %}
          </tbody>

        </table>
      </div>
  </div>
</section>


  {% endif %}
{% endfor %}

{% endblock content %}
