{% extends "complaints/main/base.html" %} 
{% load static %} 

{% block title %}
Complaints management System 
{% endblock title %} 

{% block style %}
<link
  href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link rel="stylesheet" href="{% static 'complaints/assets/css/login.css' %}" />
<link rel="stylesheet" href="{% static 'complaints/css/bootstrap.css' %}" />
{% endblock style %} 

{% block content %}

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7 col-lg-5">

        <div class="login-wrap p-4 p-md-5">
          {% block form-content %} {% endblock form-content %}
        </div>

      {% if messages %}
        <div class="container mt-3">
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        </div>
        <script>
          setTimeout(function() {
            const alerts = document.querySelectorAll('.alert');
            alerts.forEach(alert => {
              alert.classList.remove('show');
              alert.classList.add('hide');
              setTimeout(() => alert.remove(), 500);
            });
          }, 3000);
        </script>
      {% endif %}

      </div>
    </div>
  </div>
</section>

{% endblock content %} 
{% block js %}
<script src="{% static 'complaints/assets/js/jquery.min.js' %}"></script>
<script src="{% static 'complaints/assets/js/popper.js' %}"></script>
<script src="{% static 'complaints/js/bootstrap.js' %}"></script>
<script src="{% static 'complaints/assets/js/login.js' %}"></script>
{% endblock js %}

