{% extends "complaints/main/dialog.html" %}
{% load static %}
{% load widget_tweaks %}


{% block dialog-content %}

<div class="modal-content border shadow">
    <small>
        <div class="modal-header border shadow">
            <h3 class="modal-title">Update Department</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body content-section border shadow">

            <form method="post" class="signup-form" action="{% url 'complaints:department_create' %}">
            {% csrf_token %}
            <div class="form-group">
                {{form.name.label_tag}} {{ form.name }}
                {% if form.name.errors %}
                <div class="alert alert-danger" role="alert">{{ form.name.errors }}</div>
                {% endif %} 
            </div>
            <div class="form-group">
                {{form.description.label_tag}} {{ form.description }}
                {% if form.description.errors %}
                <div class="alert alert-danger" role="alert">
                {{ form.description.errors }}
                </div>
                {% endif %} 
            </div>
        </div>
        <div class="modal-footer py-5">
            <div class="form-group d-flex justify-content-end mb-3">
                <abbr title="submit">
                <button type="submit" class="btn btn-primary submit" style="background-color: #e32249 !important; border: solid #e32249 !important;">
                    <span class="fa fa-check"></span>
                </button>
                </abbr>
            </div>
            <div class="form-group d-flex justify-content-end mb-3">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: #e32249 !important; border: solid #e32249 !important;"><span class="fa fa-remove"></span> <abbr class="font-weight-bold">Close</abbr></button>
            </div>
            </form>
        </div>
    </small>
</div>

{% endblock dialog-content %}