{% load static %} {% load custom_tag %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta content="width=device-width, initial-scale=1.0" name="viewport" />
		<meta content="complaint management system" name="keywords" />
		<meta
			name="description"
			content="system that's used by organizations to take their empleyees complaints and take action based on the guven complaint"
		/>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>
			{% block title %} COMPLAINTS MANAGEMENT STSTEM {% endblock title %}
		</title>

		{% block dialog-style %} {% endblock dialog-style %}
		<link href="{% static 'complaints/assets/img/ictpack.png' %}" rel="icon" />

		<link
			href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
			rel="stylesheet"
		/>

		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
			crossorigin="anonymous"
		/>
		<link
			href="{% static 'complaints/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}"
			rel="stylesheet"
		/>
		<link
			href="{% static 'complaints/assets/vendor/boxicons/css/boxicons.min.css' %}"
			rel="stylesheet"
		/>
		<link
			href="{% static 'complaints/assets/vendor/glightbox/css/glightbox.min.css' %}"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<link
			href="{% static 'complaints/assets/vendor/remixicon/remixicon.css' %}"
			rel="stylesheet"
		/>
		<link
			href="{% static 'complaints/assets/vendor/swiper/swiper-bundle.min.css' %}"
			rel="stylesheet"
		/>
		<link href="{% static 'complaints/assets/css/style.css' %}" rel="stylesheet" />
		<link href="{% static 'complaints/css/bootstrap.css' %}" rel="stylesheet" />

		<link
		href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"
		rel="stylesheet"
		/>
		<link
		rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		/>

        <!--from the form template-->
        <link
        href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"
        rel="stylesheet"
        />
        <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <link rel="stylesheet" href="{% static 'complaints/assets/css/login.css' %}" />
        <link rel="stylesheet" href="{% static 'complaints/css/bootstrap.css' %}" />
	</head>

    <body>
        {% block dialog-content %}
          
        {% endblock dialog-content %}


        {% block dialog-js %}
          
        {% endblock dialog-js %}
    	<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
			crossorigin="anonymous"
		></script>
		<script src="{% static 'complaints/assets/js/htmx.min.js' %}"></script>
		<script src="{% static 'complaints/assets/js/dialog.js' %}"></script>
		<script src="{% static 'complaints/assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
		<script src="{% static 'complaints/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
		<script src="{% static 'complaints/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
		<script src="{% static 'complaints/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
        <script src="{% static 'complaints/assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'complaints/assets/js/popper.js' %}"></script>
        <script src="{% static 'complaints/js/bootstrap.js' %}"></script>
        <script src="{% static 'complaints/assets/js/login.js' %}"></script>

		<script src="{% static 'complaints/js/bootstrap.js' %}" async defer></script>
		<script src="{% static 'complaints/assets/js/main.js' %}"></script>
		</script>
		<script>
			document.getElementById("goBackButton").addEventListener("click", function () {
				window.history.back();
			});
		</script>
	</body>
</html>
