{% extends "complaints/main/base_form.html" %} 

{% block form-content %}
<h3 class="mb-4">Passowrd Change</h3>
<form method="post" class="signup-form my-5">
  {% csrf_token %} {{ form.non_field_errors }}
  <div class="form-group">
    {{form.old_password.label_tag}} {{ form.old_password }}
    {% if form.old_password.errors %}
    <div class="alert alert-danger" role="alert">
      {{ form.old_password.errors }}
    </div>
    {% endif %} 
  </div>
  <div class="form-group">
    {{form.new_password1.label_tag}} {{ form.new_password1 }}
    {% if form.new_password1.errors %}
    <div class="alert alert-danger" role="alert">
      {{ form.new_password1.errors }}
    </div>
    {% endif %} 
  </div>
  <div class="form-group">
    {{form.new_password2.label_tag}} {{ form.new_password2 }}
    {% if form.new_password2.errors %}
    <div class="alert alert-danger" role="alert">
      {{ form.new_password2.errors }}
    </div>
    {% endif %} 
  </div>

  <div class="form-group d-flex justify-content-end mt-5">
    <button type="submit" class="btn btn-primary submit">
      <span class="fa fa-check"></span>
    </button>
  </div>
</form>
{% endblock form-content %}
