{% extends "complaints/main/base.html" %} 
{% load static %} 
{% load custom_tag %}

{% block title %} 
Profile Page For CMS User 
{% endblock title %} 

{% block content %}

<div class="conent-section align-items-center container p-5">
  <div class="container row row align-items-center justify-content-between pt-3">
    <div class="col-3">
      <abbr title="{{ user.username }}" style="cursor: pointer;">
      {% if user.profile_picture %} 
        <img src="{{ user.profile_picture.url }}"
          class="rounded img-fluid account-img"" 
          style="width: 300px; height: 300px;"
          alt="{{ user.username }}'s Profile Image">  
      {% endif %}
      </abbr>
    </div>
    <div class="border shadow p-4 col-8">
      <div class="media-body">
        <h2 class="account-heading my-2">
          {{user.first_name|upper}} {{user.last_name|upper}}
        </h2>
        <table class="table my-4">
          <tbody>
            <tr>
              <th scope="row">Username :</th>
              <td>{{ user.username|upper }}</td>
            </tr>
            <tr>
              <th scope="row">Email :</th>
              {% if user.email %}
              <td>{{ user.email|capfirst }}</td>
              {% else %}
              <td>-- Not Set --</td>
              {% endif %}
            </tr>
            <tr>
              <th scope="row">Residence Address :</th>
              {% if user.region and user.district %}
              <td>{{user.district|capfirst}}, {{user.region|capfirst}}</td>
              {% elif user.region or user.district %}
                {% if user.region %}
                <td>{{user.region|capfirst}}</td>
                {% elif user.district %}
                <td>{{user.district|capfirst}}</td>
                {% else %}
                <td>-- Not Set --</td>
                {% endif %}
              {% else %}
              <td>-- Not Set --</td>
              {% endif %}
            </tr>
            <tr>
              <th scope="row">Phone Number :</th>
              {% if user.phone_number %}
              <td>{{user.phone_number}}</td>
              {% else %}
              <td>-- Not Set --</td>
              {% endif %}
            </tr>
            {% if not user|has_group:'CEO' and not user.is_superuser %}
            <tr>
              <th scope="row">Department :</th>
              {% if user.departments %}
                    <td>{{ user.departments|capfirst }}</td>
              {% else %}
                <td>-- Not Set --</td>
              {% endif %} 
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
          <div class="row mt-5 justify-content-between p-4">
            <div class="col-sm-2">
              <button class="btn text-light btn-sm btn-secondary">
                <a hx-get="{% url 'complaints:profile_update' user.pk %}" hx-target="#dialog"
                  class="nav-link text-light"
                  >Update</a>
              </button>
            </div>
            <div class="col-sm-4">
              <button class="btn text-light btn-sm btn-secondary">
                <a
                  hx-get="{% url 'complaints:password_change' %}"
                  hx-target="#dialog"
                  class="nav-link text-light"
                  >Change Password</a
                >
              </button>
            </div>
          </div>
    </div>

  </div>
</div>

{% endblock content %}
