{% extends "complaints/main/dialog.html" %}
{% load static %}
{% load widget_tweaks %}


{% block dialog-content %}

<div class="modal-content border shadow">
    <small>
        <div class="modal-header border shadow">
            <h3 class="modal-title">Confirm Remark Delete</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body content-section border shadow">
            <div class="text-dark font-weight-bold">
                Are you Sure you want to delete this Remark ? <small>" {{ remark.description|upper }} "</small>
            </div>
        </div>
        <div class="modal-footer py-5">
            <div class="form-group d-flex justify-content-end mb-3">
                <form action="{% url 'complaints:delete_remark' remark.pk %}" method="POST">
                    {% csrf_token %}
                    <abbr class="col-sm-2" title="Yes, Delete">
                        <button type="submit" class="btn btn-primary submit" style="background-color: #e32249 !important; border: solid #e32249 !important;">
                            Yes
                        </button>
                    </abbr>
                </form>
            </div>
            <div class="form-group d-flex justify-content-end mb-3">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: #e32249 !important; border: solid #e32249 !important;"><abbr>No</abbr></button>
            </div>
        </div>
    </small>
</div>

{% endblock dialog-content %}
