{% extends "complaints/main/base_form.html" %} 

{% block form-content %}
<h3 class="mb-4">Update Complaint</h3>
<form method="post" class="signup-form my-5" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-group">
    {{form.title.label_tag}} 
    {{ form.title }}
    {% if form.title.errors %}
    <div class="alert alert-danger" role="alert">{{ form.title.errors }}</div>
    {% endif %} 
  </div>
  <div class="form-group">
    {{form.description.label_tag}} 
    {{ form.description }}
    {% if form.description.errors %}
    <div class="alert alert-danger" role="alert">
      {{ form.description.errors }}
    </div>
    {% endif %} 
  </div>
  <div class="form-group">
      {{ form.attachment_type.label_tag }}
      {{ form.attachment_type }}
      {% if form.attachment_type.errors %}
      <div class="alert alert-danger" role="alert">
        {{ form.attachment_type.errors }}
      </div>
      {% endif %}
  </div>
  <div class="form-group">
    {{form.attachments.label_tag}} 
    {{ form.attachments }}
    {% if form.attachments.errors %}
    <div class="alert alert-danger" role="alert">
      {{ form.attachments.errors }}
    </div>
    {% endif %} 
  </div>
  <div class="form-group d-flex justify-content-end mt-5">
    <abbr title="submit">
      <button type="submit" class="btn btn-primary submit">
        <span class="fa fa-check"></span>
      </button>
    </abbr>
  </div>
</form>
{% endblock form-content %}
