{% extends "complaints/main/dialog.html" %}
{% load static %}

{% block dialog-content %}
<!-- Modal -->
<div class="modal-content border shadow">
    <small>
    <div class="modal-header border shadow">
        <h5 class="modal-title text-center" id="exampleModalLongTitle">{{ user.username|upper }} PROFILE</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body content-section border shadow">
        <div class="media ">
            {% if user.profile_picture %} <img src="{{ user.profile_picture.url }}"
              class="rounded-circle account-img"" style="height: 100px; width: 100px;"
              alt="{{ user.username }}'s Profile Image">
            {% endif %}
            <div class="media-body">
            <h2 class="account-heading my-2">
                {{user.first_name|upper}} {{user.last_name|upper}}
            </h2>
            <table class="table my-4">
                <tbody>
                  <tr>
                      <th scope="row">Username :</th>
                      <td>{{ user.username|upper }}</td>
                  </tr>
                  <tr>
                      <th scope="row">Email :</th>
                      {% if user.email %}
                      <td>{{ user.email|capfirst }}</td>
                      {% else %}
                      <td>-- Not Set --</td>
                      {% endif %}
                  </tr>

                  <tr>
                    <th scope="row">Department :</th>
                    {% if user.departments %}
                        <td>{{ user.departments|upper }}</td>
                    {% else %}
                      <td>None</td>
                    {% endif %}
                  </tr>

                  <tr>
                  <th scope="row">Position :</th>
                  {% for group in user.groups.all %} 
                    {% if group.name %}
                      <td>{{ group.name }}</td>
                    {% else %}
                      <td>-- Not Set --</td>
                    {% endif %} 
                  {% endfor %} 
                  </tr>
                  <tr>
                      <th scope="row">Residence Address :</th>
                      {% if user.region and user.district %}
                      <td>{{user.district|capfirst}}, {{user.region|capfirst}}</td>
                      {% elif user.region or user.district %}
                      {% if user.region %}
                      <td>{{user.region|capfirst}}</td>
                      {% elif user.district %}
                      <td>{{user.district|capfirst}}</td>
                      {% else %}
                      <td>-- Not Set --</td>
                      {% endif %}
                      {% else %}
                      <td>-- Not Set --</td>
                      {% endif %}
                  </tr>
                  <tr>
                      <th scope="row">Phone Number :</th>
                      {% if user.phone_number %}
                      <td>{{user.phone_number}}</td>
                      {% else %}
                      <td>-- Not Set --</td>
                      {% endif %}
                  </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
    </small>
</div>
{% endblock dialog-content %}