{% extends "complaints/main/base_form.html" %} 

{% block form-content %}

<h3 class="mb-4 text-success text-center">User Registered successfully!</h3>
<div class="container py-3">
  <div class="justify-content-center">
    <div class="row justify-content-between">
      <div class="col-6">
        <a
          hx-get="{% url 'complaints:register'%}"
          hx-target="#dialog"
          class="nav-link"
          title="register"
        >
          <div class="form-group d-flex justify-content-start mt-5">
            <button type="submit" class="btn btn-primary submit">
              <span class="fa fa-user-plus"></span>
            </button>
          </div>
        </a>
      </div>

      <div class="col-6">
        <a href="{% url 'complaints:all_users_display' %}" class="nav-link" title="View Employees">
          <div class="form-group d-flex justify-content-end mt-5">
            <button type="submit" class="btn btn-primary submit">
              <span class="fa fa-users"></span>
            </button>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock form-content %}
